.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  width: 90%;
  margin: auto;
}
.navbar__logo_container {
  cursor: pointer;
}

.navbar__logo_container h3 {
  line-height: 0%;
}

.navbar__menu_container {
  display: flex;
}
.navbar__list {
  list-style: none;
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}
.navbar__link {
  text-decoration: none;
  /* color: #000; */
  font-weight: 600;
}
.mobile__menu {
  display: none;
}
@media only screen and (max-width: 648px) {
  .navbar__list {
    flex-direction: column;
    position: fixed;
    top: -20px;
    right: 0;
    width: 70%;
    height: 101%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    z-index: -1;
  }
  .navbar__item,
  .navbar__link {
    background: none;
    color: #fff;
  }
  .navbar__menu_container {
    display: none;
  }
  .mobile__menu {
    display: block;
    z-index: 10;
    transition: all 0.5s linear;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
}
